# Database (Neon PostgreSQL)
DATABASE_URL=postgresql://user:password@endpoint-pooler.region.aws.neon.tech/neondb?sslmode=require

# Discord Bot Credentials
DISCORD_TOKEN=
DISCORD_CLIENT_ID=
DISCORD_PUBLIC_KEY=
DISCORD_GUILD_ID=

# External Upscaling API
UPSCALER_API_KEY=
UPSCALER_API_URL=
